.container {
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  width: 70px;
  background: var(--btn-color);
  border: 0px;
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Prevents it from taking up space */
  pointer-events: none; /* Disable interaction when hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition for fade-in/out */

  img {
    width: 50px;
    height: 50px;
  }
}

.container.visible {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make it visible */
  pointer-events: auto; /* Enable interaction */
}

button {
  box-shadow: 0 4px 4px var(--drop-shadow-color);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px var(--drop-shadow-color);
}
