.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .hero {
    max-width: 200px;
    border-radius: 50%;
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px var(--drop-shadow-color);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px var(--drop-shadow-color);
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.switch {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.iconContainer {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: transform 0.4s;
}

input:checked + .slider .iconContainer {
  transform: translateX(26px);
}

.icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.description {
  max-width: 24ch;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 768px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1200px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}